{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <p>Wpisz i podtwierdź swoje nowe hasło.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nowe hasło:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Podtwierdź hasło:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Zmienić hasło" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Błąd przy zmianie hasła!!!</h1>
        <p>Resetowanie hasła się nie udało, możliwie link już był używany. Proszę powtórzyć procedure
            dla generowania nowego linku.</p>
    {% endif %}
{% endblock content %}
