{% extends "base.html" %}

{% block content %}
<h2>Nazwa: {{ book.title }}</h2>

    <p><strong>Kategoria: {{ book.genre }}</strong></p>
    {% for author in book.authors.all %}
        <p><strong>Autor: </strong><a href="{{ author.get_absolute_url }}">{{ author.name}}</a></p>
    {% endfor %}
    <p><strong>Opis: {{ book.summary }}</strong></p>
    <p><strong>Język: {{ book.language }}</strong></p>
    <p><strong>ISBN: {{ book.isbn }}</strong></p>

<div style="margin-left:10px; margin-top:20px">
    <h4>Ilośc dostępnych egzemplarów papierowych: {{ book.bookinpaper.quantity }}</h4>
    <br>
</div>
{% endblock content %}